version: '3.8'

services:
  # Server Container
  server:
    image: us-central1-docker.pkg.dev/cloudtesting-330202/outage-api/outage_api:latest
    build: 
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - mongodb
    networks:
      - app-network

  # MongoDB Container
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

